<script>
<%
    login_form = form_tag('/sessions', method: 'post', id: "login-form") do
    label_tag(:email, 'Email:') +
    text_field_tag(:email, "", class: "login-text-input") +
    label_tag(:password, 'Password:') +
    password_field_tag(:password, "", class: "login-text-input") +
    submit_tag('Login', id: "login-button")
    end
    login_form = escape_javascript login_form
%>

<%
    sign_up_form = form_tag('/users', method: 'post', id: "sign-up-form") do
        label_tag(:name, 'Name:') +
        text_field_tag(:name, "", class: "login-text-input") +
        label_tag(:email, 'Email:') +
        text_field_tag(:email, "", class: "login-text-input") +
        label_tag(:password, 'Password:') +
        password_field_tag(:password, "", class: "login-text-input") +
        label_tag(:password_confirmation, 'Password Confirmation:') +
        password_field_tag(:password_confirmation, "", class: "login-text-input") +
        submit_tag('Sign Up', id: "sign-up-button")
    end
    sign_up_form = escape_javascript sign_up_form
%>



function createSignUpForm(placeId){
    $signUpFormWithTripId = $(sign_up_form);
    $signUpFormWithTripId.attr("action", "users/?placeId=" + placeId);
    return $signUpFormWithTripId;
}

function id_like_to_go_update(place_id, $div){

    $.ajax({
        type: "GET",
        url: "/idliketogo/" + place_id,
        data: "",
        success: function(data){
            $div.children(".id-like-to-go").html("<h4>You want to go</h4>");
        }
    });
}

function id_like_to_go_clicked(){
    var place_id = this.id.match(/[0-9]+/);
    var $div = $( this ).parent().parent();
    <% if current_user.nil? %>
        var place_name = $div.children( "h3" ).text();
        $("<div><p id='keep-updated'>To be notified when we run a trip to " + place_name + "</p></div>" ).append(createSignUpForm(place_id)).dialog({modal:true, title: "Sign Up"});
    <% else %>
        id_like_to_go_update(place_id, $div)
    <% end %>
}
var login_form_string = "<%= login_form %>";
var sign_up_form = "<%= sign_up_form %>";
</script>
