<div id='opening-text'>
    <h1>Wish to travel but don't want to go alone?</h1>
    <h2>Network Trips organises coach trips with a difference. Get to know your travel companions before you go.</h2>
</div>

<div id='banner'>
    <div id='featured-trip'>
        <div id='intro-text'>
            <h3>Bournmouth Weekend Coach Trip</h3>
            <h4>Price includes 4 star hotel and coach travel</h4>
        </div>

        <div id='infomation-box'>
            <h4 class='info'><span class='float-left'>Departing</span> <span class='float-right'>Birmingham</span></h4>
            <h4 class='info'><span class='float-left'>Date</span> <span class='float-right'>23rd August</span></h4>
            <div style='clear:both'></div>
        </div>
        <div style='clear:both'></div>
        <%= render "shared/social_box" %>
        <div id='cost-box'>
        <div id='trip-cost'>
        <h3>Cost £70</h3>
        <p>Invite others to get a discount</p>
        <h4>All attendents must be 18+</h4>
        </div>
        <div id='find-out-more'>
            <button type="button" class="btn btn-primary btn-lg">Find out more</button>
        </div>
        <div style='clear:both'></div>
    </div>
    </div>
</div>
