/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
}

body h1, body h2, body h3,body h4, body p  {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    margin-top:0px;
    margin-bottom:0px;
}

h2 {
    text-align:center;
}

#header-background {
    background-color: #39bac7;
}

header {
    margin-left:auto;
    margin-right:auto;
    width:90%;
    color:white;
    padding-top:10px;
    padding-bottom:10px;

}

#header-background h1 {
    float: left;

}

#header-background #user-actions {
    float: right;
}


footer {
    text-align:center;
    background-color: #39bac7;

}

h1 a {
    color:white;
}

#username {
    float:left;
}

#user-actions img {
    float:left;
    max-height:50px;
}

#user-actions button {
    float:right;
}

.close-flash {
    float:right;
}

#login-form label {
    display: block;
}

#login-form input {
    display:block;
}

.login-text-input {
    width:100%;
    margin-bottom:5px;
}


#login-button {
    float:right;
}


#sign-up-form input {
    display:block;
}

#sign-up-button {
    float:right;
}
