// Place all the styles related to the Trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trip-banner img {
    max-width:100%;
    max-height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#booking-info {
    background-color:#eee8d0;
    margin-left:10px;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
}

#booking-info h2 {
    padding-top:10px;
    padding-bottom:10px;
}

#book-now-button {
    float:right;
}

#cost-pane {
    float: left;
}

#booking-pane {
    margin-top:50px;
}

#somewhere-else {
    background-color: #ebebf0;
}

#buddies-button-left {
    float: left;
}

#buddies-button-right {
    float: right;
}

.user-image img {
    max-width:100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.user-name {
    text-align:center;
}

.login-link {
    color: #428bca;
}

.sign-up-link {
    color: #428bca;
}

.comment-image {
    float:right;
    max-width:100%;
}

.comment-heading {
    margin-top:20px;
    margin-bottom:20px;
}


.trip-comment {
    margin-bottom:20px;
}

.replies {
    background-color:#e8e8f1;
}

.reply {
    padding-top:10px;
    padding-bottom:10px;
}

.comment-contents {
    min-height:80px;
}

#add-comment {
    margin-top:10px;
    margin-bottom:10px;
}

#post-button {
    float:right;
}

#comment-text-input {
    width:100%;
    resize:vertical;
    min-height:100px;
}

.reply-button {
    position:absolute;
    right:5px;
    top:0px;
}

.reply-text {
    margin-top:5px;
    margin-bottom:5px;
    margin-left:10px;
    width:100%;
}

.reply-pane {
    padding-right:100px;
    position:relative;
}

#sign-up-or-login-to-comment {
    margin-top:20px;
    margin-bottom:20px;
}
