// Place all the styles related to the Trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#trip-banner img {
    max-width:100%;
    max-height:400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#booking-info {
    background-color:#eee8d0;
    margin-left:10px;
    margin-right:10px;
    padding-left:10px;
    padding-right:10px;
}

#booking-info h2 {
    padding-top:10px;
    padding-bottom:10px;
}

#book-now-button {
    float:right;
}

#cost-pane {
    float: left;
}

#booking-pane {
    margin-top:50px;
}

#somewhere-else {
    background-color: #ebebf0;
}

#buddies-button-left {
    float: left;
}

#buddies-button-right {
    float: right;
}
