<% unless flash["error"].nil? %>
    <% flash["error"].each do |msg| %>
    <div class="alert alert-danger">
        <span class="close-flash glyphicon glyphicon-remove"></span>
        <%= content_tag :div, msg %>
    </div>
<% end %>
<% end %>
