<!DOCTYPE html>
<html>
<head>
    <title>Network Trips</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
</head>
<body>

    <div id='header-background'>
        <header>
            <h1>Network Trips</h1>
            <h2>Explore and Socialise</h2>
            <div style='clear:both' />
        </header>
    </div>

    <%= yield %>

    <footer>
        Contact Us - Network Trips is registered with companies house - <a href='/image_credits.html'>Image Credits</a>
    </footer>
</body>
</html>
